<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New news</title>
</head>
<body>
<form th:action="@{/news/new}" th:object="${news}" method="post">
  <table border="1">
    <tr>
      <td>Title</td>
      <td><input type="text" th:field="*{title}"></td>
    </tr>
    <tr>
      <td>Content</td>
      <td><input type="text" th:field="*{content}"></td>
    </tr>
    <tr>
      <td>Category</td>
      <td th:object="${categories}">
        <select>
          <option th:each="category :${categories}"
                  th:value="${category.getId()}"
                  th:text="${category.getName()}"></option>
        </select>
      </td>
    </tr>
  </table>
  <button type="submit">Save</button>
</form>
</body>
</html>