<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New news</title>
</head>
<body>
<form th:action="@{news/edit/{id}}" th:object="${newNews}" method="post">
    <table border="1">
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}" th:text="${oldNews.getTitle()}"></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><input type="text" th:field="*{content}" th:text="${oldNews.getContent()}"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select  name="category" style="height: 22px; width: 200px">
                    <option value="">---</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>